.list_item {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.list_item_img {
    position: relative;
    width: 80%;
}

.list_item_subs {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    position: relative;
    left: 30px;
    top: -6%;
    background-color: #F4F0F0;
    text-align: center;
    height: 70%;
}

.list_item_text {
    padding: 0 1.5vw;
    font-size: 1.3vw;
}

.list_item_title {
    font-size: 1.35vw;
}

.list_item_price {
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1.35vw;
}
