.menu_block {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    position: absolute;
    top: 3%;
    left: 0;
    height: auto;
    width: 31%;
}

.menu_item {
    font-size: 1.3vw;
    justify-self: end;
    text-align: right;
}

.menu_item_p {
    font-size: 1.3vw;
    justify-self: end;
    text-align: right;
    text-decoration: none;
    color: #242424;
    margin-top: 15px;
    height: 1.9vw;
    display: block;
}

.menu_item_p_active {
    border-bottom: #242424 2px solid;
}

.menu_item_p:hover {
    cursor: pointer;
    border-bottom: #242424 2px solid;
}


