.article_block {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 240, 240, 0.78);
    z-index: 10;
    font-size: 1.3vw;
    font-family: "Comic Sans MS", serif;
}

.main_content_article {
    position: relative;
    width: 80%;
    left: 10%;
    background-color: #F7C78A;
    height: 100%;
    box-sizing: border-box;
    padding-top: 75px;
}

.close_article {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 30px;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding-right: 30%;
    box-sizing: border-box;
}

.prev {
    text-align: right;
}

a {
    color: #242424;
}

.article_title {
    position: relative;
    margin-top: 40px;
    width: 80%;
    left: 10%;
    text-align: center;
}

.article_pointer:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.close_article:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.article_inactive {
    color: gray;
}

.article_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 80%;
    left: 10%;
}

.article_text {
    padding: 25px 40px;
    text-align: center;
}

.article_img {
    width: 100%;
}
