.fitball {
    position: relative;
    display: grid;
    grid-template-columns: 1.1fr 1.5fr;
    box-sizing: border-box;
    padding: 100px 50px 0 100px;
    font-family: "Comic Sans MS", serif;
}

.fitball_img_block {
    position: relative;
    width: 100%;
    top: 100px;
}

.kid_front_img {
    position: relative;
    width: 90%;
    z-index: 2;
}

.kid_back_img {
    z-index: 1;
    position: relative;
    width: 90%;
    left: 10%;
    transform: translateY(-90%);
}

.fitball_title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    border-bottom: #242424 3px solid;
    text-align: center;
    width: 130px;
}

.fitball_text_block {
    box-sizing: border-box;
    position: relative;
    width: 90%;
    left: 7%;
    text-align: center;
}

.fitball_text {
    margin: 0;
    font-size: 1.3vw;
}

.top_indent{
    margin-top: 2vw;
}

.prize {
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateY(-50%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: #242424 3px solid;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    padding: 15px 30px;
}

.prize_title {
    color: #242424;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 2vw;
    margin: 0;
}

